[Unit]
Description=Discharge Summary Flask Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/dsumarry
Environment="PATH=/var/www/dsumarry/venv/bin"
EnvironmentFile=/var/www/dsumarry/.env
ExecStart=/var/www/dsumarry/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 --timeout 120 main:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target


